body  
{  
    margin: 0;  
    padding: 0;  
      
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; 
	background-image: url("10a2a080cd61cd48655307076f8541b2.jpg");
	background-repeat: no-repeat;
	
	
	
}  
.login{  
    width: 200px;  
    overflow: hidden;  
    margin: auto;  
    /* margin: 20 0 0 450px;   */
    padding: 80px;  
    /* background: #63066F;   */
    background:linear-gradient(to top, #ad5389 0%,#3c1053 100% );
    border-radius: 15px ;  
    opacity: 90%;
          
}  
h2{  
    text-align: center;  
    color: #000000;  
    padding: 20px;  
}  
label{  
    color: #ffffff;  
    font-size: 17px;  
}  
#Uname{  
    width: 200px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 200px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#log{  
    width: 200px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: grey;
}  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: grey;  
}  
/* CSS Document */

